body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}#root{background-color:rgba(225,223,221,.2)}.ms-Nav{background-color:#fff}.ms-Grid-col{padding-left:0;margin-left:0}
/*# sourceMappingURL=main.0b0b033a.chunk.css.map */